@font-face {
    font-family: 'Danzza Medium';
    src: url('/assets/fonts/Danzza-Medium.eot');
    src: url('/assets/fonts/Danzza-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Danzza-Medium.woff2') format('woff2'),
        url('/assets/fonts/Danzza-Medium.woff') format('woff'),
        url('/assets/fonts/Danzza-Medium.ttf') format('truetype'),
        url('/assets/fonts/Danzza-Medium.svg#Danzza-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Danzza Regular';
    src: url('/assets/fonts/Danzza-Regular.eot');
    src: url('/assets/fonts/Danzza-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Danzza-Regular.woff2') format('woff2'),
        url('/assets/fonts/Danzza-Regular.woff') format('woff'),
        url('/assets/fonts/Danzza-Regular.ttf') format('truetype'),
        url('/assets/fonts/Danzza-Regular.svg#Danzza-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adieu Bold';
    src: url('/assets/fonts/Adieu-Bold.eot');
    src: url('/assets/fonts/Adieu-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Adieu-Bold.woff2') format('woff2'),
        url('/assets/fonts/Adieu-Bold.woff') format('woff'),
        url('/assets/fonts/Adieu-Bold.ttf') format('truetype'),
        url('/assets/fonts/Adieu-Bold.svg#Adieu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
